%h2 Welcome to Fantasy League

- if user_signed_in? 
  Logged in as
  %strong
    = current_user.email
    = link_to "Logout", destroy_user_session_path, method: :delete


.row
  .player-lists
    %h2 Choose your best players
    .span6
      %ul.user-team-list
        %li Item 1
        %li Item 2
    .span6
      %ul.all-players-list
        - for player in @players
          %li
            Name:
            = player.name
            Score:
            = player.score
        









    
