.container-fluid
  .row
    .col-lg-offset-1.col-lg-4
      %h2 Match History
      - if @teams.empty?
        You haven't played a match yet!
      - else
        %table.table
          %thead
            %tr
              %th Match
              %th Score
          %tbody
            - for team in @teams
              %tr 
                %td
                  %a{href: team_path(team)}
                    = team.match_id
                %td= team.score
    .col-lg-offset-1.col-lg-4
      = render "shared/leaderboard" , users: @users
  .row 
    .col-lg-offset-1.col-lg-4
      %h2 Upcoming matches
      - if @upcoming_matches.empty?
        No matches are scheduled.
      - else 
        - for match in @upcoming_matches
          %ul.list-group
            %li.list-group-item.text-center
              %a{href: new_match_team_path(match) }
                = match.id

    
