.container-fluid
  .row
    .col-lg-2.sidebar
      = render "shared/dashboard" , selection: :match_up
    .col-lg-10.col-lg-offset-2 
      .col-lg-4.col-lg-offset-3
        %ul.list-group
          - for match in @matches
            %li.list-group-item{class: (match.completed ?  'list-group-item-success'  : 'list-group-item-danger')}
              = link_to match.id , edit_match_path(match) 
              %span.badge
                - if match.completed
                  Completed
                - else
                  Scheduled
                  

      

