%h2 
  Match 
  = @team.match_id
  Completed
%h3
  Score
  = @team.score
%ul.list-group
  - for player in @team.players
    %li.list-group-item
      = player.name
      %span.badge
        = player.score_in_match @team.match_id


