// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


player-lists{
  text-align:center;
}

.sign-in-form {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}


.user-team-container, .all-players-container{
  border:2px solid;
  margin: 20px;
  min-height: 200px;
}
.user-team-list, .all-players-list{
  min-height: 200px;
  background: #EEE;
}
